<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    colors="true"
    stderr="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false"> 
    <testsuites> 
        <testsuite name="Application Test Suite"> 
            <directory>./test/</directory> 
        </testsuite> 
    </testsuites> 
</phpunit>